@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');

body {

  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #EEEFF7;
  position: relative;
  /*background-color:#D7DCF2;*/
}

.row-block {
	min-height: 93vh;
	padding-top: 30px;
	padding-bottom: 30px;
}

.navbar {
  background-color: #1C1D21;
  padding: 1em 0;
  box-sizing: border-box;
  width: 100% !important;
}

.navbar-brand {
  margin-left: 30px;
  color: #EEEFF7 !important;
  width: 127px;
  line-height: 0.8em;
}
.navbar-brand strong {
  font-size: 2em;
}
.navbar-brand span {
  color: red;
}
.navbar-brand small {
  font-size: 0.8em;
}
.nav-link {
  color: #EEEFF7;
  margin-right: 1em;
  border-radius: 0.5em;
}
.nav-link:hover {
  color: #A8ADC1;
}
.navbar-collapse {
  justify-content: flex-end;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #31353D;
}

.about {
	min-height: 100vh;
}


.about_text {
	border-left: 1px solid #1C1D21;
	color:#1C1D21 !important;
}

.about_img {
	border-radius: 50%;
}

.btn {
	background-color:#1C1D21;
	border-color: #1C1D21;
}

.btn:hover {
	background-color:#31353D;
	border-color: #31353D;
}

.btn:active {
	background-color:#41353D;
	border-color: #41353D;
}

.carusel-caption-text {
  color: #1C1D21 !important;
  text-shadow: 1px 1px 2px black;
}
.carusel-wed {
  border-radius: 0.1em;
  margin-bottom: 30px;
}

.carousel-block {

}

.instafeed {

}

.instafeed-block:hover {
	transform: scale(1.05);
	transition:0.3s;
}

.instafeed-block {
	margin-bottom: 30px;
}

.contacts {
	
}

.btn-group {
	height: 200px;
}

.contacts_btn-group .btn {
	width: 200px;
	height: 66px;
	border-color:#606C76;
	color: #606C76;
	font-size: 2em;
}

.contacts_btn-group .btn:hover {
	background-color:#868A8B;
}

.contacts_btn-group .btn:active {
	background-color:#606C76;
}

.contacts_list_item {
	margin-bottom: 2em !important;
}

.contacts_list {
	border-right: 1px solid #1C1D21;
}

.form-group_btn,
.form-group_row {
	margin-top: 30px;
}

.form-control_textarea {
	resize: none;
}

.form-group,
.callme,
.gallery {
	color:#1C1D21 !important;
}

.icon,
.tel {
	font-size: 2em;
}

.callme {
	padding-top: 30px;
	box-sizing: border-box;
}

.callme .btn {
	font-size: 2em;
}

.callme a {
	color:#EEEFF7;
	margin-bottom: 30px;
}

.tel {
	color:#1C1D21 !important;
}

.tel:hover {
	text-decoration: none !important;
}


.callme_whatsapp {
	background-color: #25d366;
}

.callme_viber {
	background-color: #59267c;
}

.callme_telegram {
	background-color: #0088cc;
}

.callme_whatsapp:hover {
	background-color: #35d366;
}

.callme_viber:hover {
	background-color: #69267c;
}

.callme_telegram:hover {
	background-color: #1088cc;
}

.callme_vk {
	background-color: #597da3;
	border-color:#597da3;
}

.callme_vk:hover {
	background-color:#597da9;
	border-color:#597da9;
}

.footer-icon {
	font-size: 2em !important;
}

.footer-icon a{
	color:#1C1D21;
}

.footer-icon a:hover{
	color:#31353D;
}

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) { 
	
}

// Extra small devices (portrait phones, less than 34em)
@media (max-width: 33.9em) { 
	.row-block {
		min-height: 1px !important;
		padding:0;
	} 

	.about {
		margin-top:70px!important;
	} }

// Small devices (landscape phones, less than 48em)
@media (max-width: 47.9em) { ... }

// Medium devices (tablets, less than 62em)
@media (max-width: 61.9em) { ... }

// Large devices (desktops, less than 75em)
@media (max-width: 74.9em) { ... }